.search-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.btn.btn-search{
    border-radius: 8;
    height: 50px;
    background: #03a3b2;
    color: rgb(3, 3, 3);
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 0%;
    width: 290px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 0px 0;
}

.sub-menu-link p{
    width: 80%;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.sub-menu-link:hover p{
    font-weight: 600;
}