.search-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.btn.btn-search{
    border-radius: 8;
    height: 50px;
    background: #0275d8;
    color: rgb(0, 0, 0);
}

