.search-box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.btn.btn-search{
    border-radius: 8;
    height: 50px;
    background: #0275d8;
    color: rgb(0, 0, 0);
}


.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 0px 0;
    top: 50%;
}

.sub-menu-link p{
    width: 80%;
}

.active1{
    background-color: rgb(49, 161, 73) !important;
    color:white !important
}
.nav-link{
    color:black ;
}

.nav-link:hover {
    color: black;
  }
